.banner{
    height: 100vh;
    width: 100%;
    background: var(--color__primary);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
}

.banner__title{
    font-family: Thunder, sans-serif;
    font-size: 15rem;
    color: var(--color__text);
    text-align: right;
    text-transform: uppercase;
    line-height: 172px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}
.banner__title:before{
    content: '';
    display: block;
    position: absolute;
    width: 5px;
    height: 100px;
    right: 45px;
    top: -145px;
    background: var(--color__text);
}
.banner__title:after{
    content: '';
    display: block;
    position: absolute;
    width: 5px;
    height: 150px;
    right: 45px;
    top: 345px;
    background: var(--color__text);
}

.roles{
    font-family: serif;
    color: var(--color__text);
    width: 100%;
    position: absolute;
    font-size: 35px;
    text-align: center;
    letter-spacing: 10px;
    white-space: nowrap;
}

.roles:first-child{
    top: -20px;
    transform: rotate(180deg);
}
.roles:last-child{
    bottom: -20px;
}