.footer{
    width: 100%;
    background: var(--color__tertiary);
    margin: 0;
    padding: 0;
}

.footer__up{
    min-height: 200px;
}

.footer__down{
    height: 60px;
    background: var(--color__primary);
    color: var(--color__tertiary);
    text-align: center;
    line-height: 60px;
}

.footer__down .copyright{
    font-family: Thunder;
    font-size: 22px;
    letter-spacing: 1px;
}